<header>
  <nav>
    <ul>
      <li><%= link_to "Sök", recipes_path %></li>
      <li><%= link_to "Lägg till nytt", new_recipe_path %></li>
    </ul>
  </nav>
  <div id="banner">
    <h1>Recept</h1>
  </div>
</header>